/**
 * Estilos para a clonetable
 */
.table_list thead{
	padding: 5px;
}

.table_list tbody tr td:last-child{
	padding-right: 18px;
	width: 50px !important;
}

.removeFormCloneRow{
	background: transparent url('../images/remove.gif') no-repeat center center;
	width: 20px;
	height: 20px;
	display: block;
	float: right;
	margin: 2px;
}

.editFormCloneRow{
	background: transparent url('../images/edit.gif') no-repeat center center;
	width: 20px;
	height: 20px;
	display: block;
	float: right;
	margin: 2px;
}

