@font-face {
	font-family: 'glyphs';
	src:url('../fonts/glyphs.eot?glm7c4');
	src:url('../fonts/glyphs.eot?#iefixglm7c4') format('embedded-opentype'),
		url('../fonts/glyphs.woff?glm7c4') format('woff'),
		url('../fonts/glyphs.ttf?glm7c4') format('truetype'),
		url('../fonts/glyphs.svg?glm7c4#glyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class *="icon-"] {
	font-family: 'glyphs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nfce:before {
	content: "\e600";
}
.icon-newspaper:before {
	content: "\f000";
}
.icon-images:before {
	content: "\f001";
}
.icon-camera:before {
	content: "\f002";
}
.icon-movie:before {
	content: "\f003";
}
.icon-bullhorn:before {
	content: "\f004";
}
.icon-books:before {
	content: "\f005";
}
.icon-reading:before {
	content: "\f006";
}
.icon-file:before {
	content: "\f007";
}
.icon-file2:before {
	content: "\f008";
}
.icon-file-plus:before {
	content: "\f009";
}
.icon-file-minus:before {
	content: "\f00a";
}
.icon-file-download:before {
	content: "\f00b";
}
.icon-file-upload:before {
	content: "\f00c";
}
.icon-file-check:before {
	content: "\f00d";
}
.icon-file-remove:before {
	content: "\f00e";
}
.icon-file3:before {
	content: "\f00f";
}
.icon-copy:before {
	content: "\f010";
}
.icon-stack:before {
	content: "\f011";
}
.icon-paste:before {
	content: "\f012";
}
.icon-certificate:before {
	content: "\f013";
}
.icon-tags:before {
	content: "\f014";
}
.icon-barcode:before {
	content: "\f015";
}
.icon-barcode2:before {
	content: "\f016";
}
.icon-cart-plus:before {
	content: "\f017";
}
.icon-cart-minus:before {
	content: "\f018";
}
.icon-cart:before {
	content: "\f019";
}
.icon-cart2:before {
	content: "\f01a";
}
.icon-cart-add:before {
	content: "\f01b";
}
.icon-cart-remove:before {
	content: "\f01c";
}
.icon-cart-checkout:before {
	content: "\f01d";
}
.icon-cart-remove2:before {
	content: "\f01e";
}
.icon-coin:before {
	content: "\f01f";
}
.icon-coins:before {
	content: "\f020";
}
.icon-credit:before {
	content: "\f021";
}
.icon-credit2:before {
	content: "\f022";
}
.icon-calculate:before {
	content: "\f023";
}
.icon-support:before {
	content: "\f024";
}
.icon-address-book:before {
	content: "\f025";
}
.icon-notebook:before {
	content: "\f026";
}
.icon-envelop:before {
	content: "\f027";
}
.icon-mail-send:before {
	content: "\f028";
}
.icon-bell:before {
	content: "\f029";
}
.icon-alarm-plus:before {
	content: "\f02a";
}
.icon-alarm-minus:before {
	content: "\f02b";
}
.icon-alarm-check:before {
	content: "\f02c";
}
.icon-alarm-cancel:before {
	content: "\f02d";
}
.icon-calendar:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-cabinet:before {
	content: "\f030";
}
.icon-archive:before {
	content: "\f031";
}
.icon-drawer:before {
	content: "\f032";
}
.icon-bubble:before {
	content: "\f033";
}
.icon-bubble2:before {
	content: "\f034";
}
.icon-user:before {
	content: "\f035";
}
.icon-users:before {
	content: "\f036";
}
.icon-user-plus:before {
	content: "\f037";
}
.icon-user-minus:before {
	content: "\f038";
}
.icon-search:before {
	content: "\f039";
}
.icon-search2:before {
	content: "\f03a";
}
.icon-zoom-in:before {
	content: "\f03b";
}
.icon-zoom-out:before {
	content: "\f03c";
}
.icon-users2:before {
	content: "\f03d";
}
.icon-expand:before {
	content: "\f03e";
}
.icon-contract:before {
	content: "\f03f";
}
.icon-key:before {
	content: "\f040";
}
.icon-lock:before {
	content: "\f041";
}
.icon-unlocked:before {
	content: "\f042";
}
.icon-wrench:before {
	content: "\f043";
}
.icon-wrench2:before {
	content: "\f044";
}
.icon-equalizer:before {
	content: "\f045";
}
.icon-cogs:before {
	content: "\f046";
}
.icon-hammer:before {
	content: "\f047";
}
.icon-tools:before {
	content: "\f048";
}
.icon-stats:before {
	content: "\f049";
}
.icon-bars:before {
	content: "\f04a";
}
.icon-stats-up:before {
	content: "\f04b";
}
.icon-meter:before {
	content: "\f04c";
}
.icon-hammer2:before {
	content: "\f04d";
}
.icon-balance:before {
	content: "\f04e";
}
.icon-power:before {
	content: "\f04f";
}
.icon-power2:before {
	content: "\f050";
}
.icon-signup:before {
	content: "\f051";
}
.icon-clipboard:before {
	content: "\f052";
}
.icon-clipboard2:before {
	content: "\f053";
}
.icon-grid:before {
	content: "\f054";
}
.icon-grid2:before {
	content: "\f055";
}
.icon-grid3:before {
	content: "\f056";
}
.icon-tree:before {
	content: "\f057";
}
.icon-grid4:before {
	content: "\f058";
}
.icon-menu:before {
	content: "\f059";
}
.icon-cloud-download:before {
	content: "\f05a";
}
.icon-download:before {
	content: "\f05b";
}
.icon-cloud:before {
	content: "\f05c";
}
.icon-cloud-upload:before {
	content: "\f05d";
}
.icon-upload:before {
	content: "\f05e";
}
.icon-download2:before {
	content: "\f05f";
}
.icon-flag:before {
	content: "\f060";
}
.icon-flag2:before {
	content: "\f061";
}
.icon-flag3:before {
	content: "\f062";
}
.icon-eye:before {
	content: "\f063";
}
.icon-bookmarks:before {
	content: "\f064";
}
.icon-bookmark:before {
	content: "\f065";
}
.icon-starburst:before {
	content: "\f066";
}
.icon-star:before {
	content: "\f067";
}
.icon-star2:before {
	content: "\f068";
}
.icon-star3:before {
	content: "\f069";
}
.icon-man:before {
	content: "\f06a";
}
.icon-woman:before {
	content: "\f06b";
}
.icon-male:before {
	content: "\f06c";
}
.icon-female:before {
	content: "\f06d";
}
.icon-stack-empty:before {
	content: "\f06e";
}
.icon-stack-plus:before {
	content: "\f06f";
}
.icon-stack-minus:before {
	content: "\f070";
}
.icon-stack-star:before {
	content: "\f071";
}
.icon-stack-down:before {
	content: "\f072";
}
.icon-stack-up:before {
	content: "\f073";
}
.icon-stack-cancel:before {
	content: "\f074";
}
.icon-stack-checkmark:before {
	content: "\f075";
}
.icon-stack-list:before {
	content: "\f076";
}
.icon-stack-play:before {
	content: "\f077";
}
.icon-warning:before {
	content: "\f078";
}
.icon-notification:before {
	content: "\f079";
}
.icon-notification2:before {
	content: "\f07a";
}
.icon-question:before {
	content: "\f07b";
}
.icon-question2:before {
	content: "\f07c";
}
.icon-minus-circle:before {
	content: "\f07d";
}
.icon-plus-circle:before {
	content: "\f07e";
}
.icon-info:before {
	content: "\f07f";
}
.icon-info2:before {
	content: "\f080";
}
.icon-blocked:before {
	content: "\f081";
}
.icon-cancel-circle:before {
	content: "\f082";
}
.icon-spam:before {
	content: "\f083";
}
.icon-enter:before {
	content: "\f084";
}
.icon-arrow-refresh:before {
	content: "\f0b1";
}
.icon-arrow-up:before {
	content: "\f085";
}
.icon-arrow-right:before {
	content: "\f086";
}
.icon-arrow-left:before {
	content: "\f087";
}
.icon-arrow-down:before {
	content: "\f088";
}
.icon-tab:before {
	content: "\f089";
}
.icon-arrow-right2:before {
	content: "\f08a";
}
.icon-arrow-left2:before {
	content: "\f08b";
}
.icon-arrow-right3:before {
	content: "\f08c";
}
.icon-arrow-left3:before {
	content: "\f08d";
}
.icon-menu2:before {
	content: "\f08e";
}
.icon-enter2:before {
	content: "\f08f";
}
.icon-backspace:before {
	content: "\f090";
}
.icon-transmission:before {
	content: "\f091";
}
.icon-sort:before {
	content: "\f092";
}
.icon-crop:before {
	content: "\f093";
}
.icon-rulers:before {
	content: "\f094";
}
.icon-scissors:before {
	content: "\f095";
}
.icon-filter:before {
	content: "\f096";
}
.icon-nbsp:before {
	content: "\f097";
}
.icon-paragraph-justify:before {
	content: "\f098";
}
.icon-share:before {
	content: "\f099";
}
.icon-new-tab:before {
	content: "\f09a";
}
.icon-code:before {
	content: "\f09b";
}
.icon-console:before {
	content: "\f09c";
}
.icon-share2:before {
	content: "\f09d";
}
.icon-youtube:before {
	content: "\f09e";
}
.icon-file-xml:before {
	content: "\f09f";
}
.icon-file-powerpoint:before {
	content: "\f0a0";
}
.icon-file-zip:before {
	content: "\f0a1";
}
.icon-file-pdf:before {
	content: "\f0a2";
}
.icon-cube:before {
	content: "\f0a3";
}
.icon-screwdriver:before {
	content: "\f0a4";
}
.icon-wand:before {
	content: "\f0a5";
}
.icon-patch:before {
	content: "\f0a6";
}
.icon-reply:before {
	content: "\f0a7";
}
.icon-forward:before {
	content: "\f0a8";
}
.icon-reply2:before {
	content: "\f0a9";
}
.icon-redo:before {
	content: "\f0aa";
}
.icon-undo:before {
	content: "\f0ab";
}
.icon-tag:before {
	content: "\f0ac";
}
.icon-cart3:before {
	content: "\f0ad";
}
.icon-basket:before {
	content: "\f0ae";
}
.icon-basket2:before {
	content: "\f0af";
}
.icon-paint-format:before {
	content: "\f0b0";
}
.icon-loop:before {
	content: "\f0b1";
}
.icon-loop2:before {
	content: "\f0b2";
}
.icon-shuffle:before {
	content: "\f0b3";
}
.icon-loop3:before {
	content: "\f0b4";
}
.icon-lightning:before {
	content: "\f0b5";
}
.icon-cog:before {
	content: "\f0b6";
}
.icon-file4:before {
	content: "\f0b7";
}
.icon-file5:before {
	content: "\f0b8";
}
.icon-files:before {
	content: "\f0b9";
}
.icon-file-plus2:before {
	content: "\f0ba";
}
.icon-file-minus2:before {
	content: "\f0bb";
}
.icon-file-download2:before {
	content: "\f0bc";
}
.icon-file-upload2:before {
	content: "\f0bd";
}
.icon-file-check2:before {
	content: "\f0be";
}
.icon-file-remove2:before {
	content: "\f0bf";
}
.icon-envelope-alt:before {
	content: "\f0c0";
}
.icon-download-alt:before {
	content: "\f0c1";
}
.icon-edit:before {
	content: "\f0c2";
}
.icon-pencil:before {
	content: "\f0c3";
}
.icon-code-fork:before {
	content: "\f0c4";
}
.icon-thumbs-up:before {
	content: "\f0c5";
}
.icon-thumbs-down:before {
	content: "\f0c6";
}
.icon-food:before {
	content: "\f0c7";
}
.icon-arrow-down2:before {
	content: "\f0c8";
}
.icon-arrow-up2:before {
	content: "\f0c9";
}
.icon-arrow-right4:before {
	content: "\f0ca";
}
.icon-arrow-left4:before {
	content: "\f0cb";
}
.icon-chevron-right:before {
	content: "\f0cc";
}
.icon-chevron-left:before {
	content: "\f0cd";
}
.icon-remove:before {
	content: "\f0ce";
}
.icon-ok:before {
	content: "\f0cf";
}
.icon-cog2:before {
	content: "\f0d0";
}
.icon-align-justify:before {
	content: "\f0d1";
}
.icon-cancel:before {
	content: "\f0d2";
}
.icon-minus-circle2:before {
	content: "\f0d3";
}
.icon-plus-circle2:before {
	content: "\f0d4";
}
.icon-plus:before {
	content: "\f0d5";
}
.icon-minus:before {
	content: "\f0d6";
}
.icon-signout:before {
	content: "\f0d7";
}
.icon-home:before {
	content: "\f0d8";
}
.icon-dollar:before {
	content: "\f0d9";
}
.icon-insert-template:before {
	content: "\f0da";
}
.icon-paragraph-justify2:before {
	content: "\f0db";
}
.icon-paragraph-justify3:before {
	content: "\f0dc";
}
.icon-stack-user:before {
	content: "\f0dd";
}
.icon-box-add:before {
	content: "\f0de";
}
.icon-box-remove:before {
	content: "\f0df";
}
.icon-user2:before {
	content: "\f0e0";
}
.icon-money:before {
	content: "\f0e1";
}
.icon-table:before {
	content: "\f0e2";
}
.icon-spotlight:before {
	content: "\f0e3";
}
.icon-resize:before {
	content: "\f0e4";
}
.icon-location:before {
	content: "\f0e5";
}
.icon-list:before {
	content: "\f0e6";
}
.icon-reorder:before {
	content: "\f0e7";
}
.icon-puzzle2:before {
	content: "\f0e8";
}
.icon-th-list:before {
	content: "\f0e9";
}
.icon-medkit:before {
	content: "\f0ea";
}
.icon-library:before {
	content: "\f0eb";
}
.icon-tag2:before {
	content: "\f0ec";
}
.icon-network:before {
	content: "\f0ed";
}
.icon-signal:before {
	content: "\f0ee";
}
.icon-address-book2:before {
	content: "\f0ef";
}
.icon-trash:before {
	content: "\f0f0";
}
.icon-minus-sign:before {
	content: "\f0f1";
}
.icon-remove-sign:before {
	content: "\f0f2";
}
.icon-link:before {
	content: "\f0f3";
}
.icon-link2:before {
	content: "\f0f4";
}
.icon-external-link:before {
	content: "\f0f5";
}
.icon-phone:before {
	content: "\f0f6";
}
.icon-chevron-up:before {
	content: "\f0f7";
}
.icon-chevron-down:before {
	content: "\f0f8";
}
.icon-signin:before {
	content: "\f0f9";
}
.icon-attachment:before {
	content: "\f0fa";
}
.icon-pie:before {
	content: "\f0fb";
}
.icon-bug:before {
	content: "\f0fc";
}
.icon-envelop2:before {
	content: "\f0fd";
}
.icon-bubbles:before {
	content: "\f0fe";
}
.icon-file-excel:before {
	content: "\f0ff";
}
.icon-puzzle:before {
	content: "\f100";
}
.icon-tax:before {
	content: "\f101";
}
.icon-moneybag:before {
	content: "\f102";
}
.icon-file-key:before {
	content: "\f103";
}
.icon-file-service:before {
	content: "\f104";
}
.icon-money-drawer:before {
	content: "\f105";
}
.icon-provider:before {
	content: "\f106";
}
.icon-service-go:before {
	content: "\f107";
}
.icon-service-table:before {
	content: "\f108";
}
.icon-news:before {
	content: "\f109";
}
.icon-foldertree:before {
	content: "\f10a";
}
.icon-visitor:before {
	content: "\f10b";
}
.icon-mimetype:before {
	content: "\f10c";
}
.icon-emailforward2:before {
	content: "\f10d";
}
.icon-uniF013:before {
	content: "\f10e";
}
.icon-product:before {
	content: "\f10f";
}
.icon-bill:before {
	content: "\f110";
}
.icon-save:before {
	content: "\f111";
}
.icon-eraser:before {
	content: "\f112";
}
.icon-building:before {
	content: "\f113";
}
.icon-truck:before {
	content: "\f114";
}
.icon-resellerhosting:before {
	content: "\f115";
}
.icon-stethoscope:before {
	content: "\f116";
}
.icon-preview:before {
	content: "\f117";
}
.icon-cash:before {
	content: "\f118";
}
.icon-database:before {
	content: "\f119";
}
.icon-stack-edit:before {
	content: "\f11a";
}
.icon-lamp:before {
	content: "\f11b";
}
.icon-nfse:before {
	content: "\f11c";
}
.icon-nf-entrada:before {
	content: "\f11d";
}
.icon-nfe:before {
	content: "\f11e";
}
.icon-book-transport:before {
	content: "\f11f";
}
.icon-box-tax:before {
	content: "\f120";
}
.icon-telecontrol:before {
	content: "\f121";
}
.icon-box-adjust:before {
	content: "\f122";
}
.icon-clientes-gat:before {
	content: "\f123";
}
.icon-loja-admin:before {
	content: "\f124";
}
.icon-loja-banners:before {
	content: "\f125";
}
.icon-loja-config:before {
	content: "\f126";
}
.icon-loja-pedidos:before {
	content: "\f127";
}
.icon-loja-sincroniza:before {
	content: "\f128";
}
.icon-coins-adjust:before {
	content: "\f129";
}
.icon-percent-attachment:before {
	content: "\f12a";
}
.icon-tax-default:before {
	content: "\f12b";
}
.icon-cart-edit:before {
	content: "\f12c";
}
.icon-cart-service:before {
	content: "\f12d";
}
.icon-foodtray:before {
	content: "\f12e";
}
.icon-cart-empty:before {
	content: "\f12f";
}
.icon-foodtray-cog:before {
	content: "\f130";
}
.icon-foodtray-edit:before {
	content: "\f131";
}
.icon-foodtray-tag:before {
	content: "\f132";
}
.icon-tag-price:before {
	content: "\f133";
}
.icon-tag-barcode:before {
	content: "\f134";
}
.icon-tag-edit:before {
	content: "\f135";
}
.icon-sigma:before {
	content: "\f136";
}
.icon-clock:before {
	content: "\f137";
}
.icon-file-sigma:before {
	content: "\f138";
}
.icon-file-clock:before {
	content: "\f139";
}
.icon-file-transmission:before {
	content: "\f13a";
}
.icon-file-adjust:before {
	content: "\f13b";
}
.icon-file-dollar:before {
	content: "\f13c";
}
.icon-file-percent:before {
	content: "\f13d";
}
.icon-file-go:before {
	content: "\f13e";
}
.icon-file-code:before {
	content: "\f13f";
}
.icon-file-cog:before {
	content: "\f140";
}
.icon-file-data:before {
	content: "\f141";
}
.icon-stack-dollar:before {
	content: "\f142";
}
.icon-nfe-destinada:before {
	content: "\f143";
}
.icon-tag-service:before {
	content: "\f144";
}
.icon-plus-sign:before {
	content: "\f145";
}
.icon-ok-sign:before {
	content: "\f146";
}
.icon-question-sign:before {
	content: "\f147";
}
.icon-info-sign:before {
	content: "\f148";
}
.icon-warning-sign:before {
	content: "\f149";
}
.icon-exclamation-sign:before {
	content: "\f14a";
}