#form_actions, #corpo{
	clear:				both;
	display: 			block;
	float:				left;
	width: 				100%;
}
#corpo{
	height: 89%;
}
#form_actions{
	background-color:#FFFFFF; 	
	/*#F1F1F1 original*/;
	padding: 			15px 0;
}
#form_actions p.field{
	margin: 			0;
	padding: 			0;
}
#form_actions > p.field:first-child{
	padding-left: 		15px;
}

#form_actions input[type=text]{
	background-color: 	#FFF;
	border-radius:		1px;
	padding: 			5px 0px;
	font-size: 			13px;
}
#form_actions .ui-autocomplete_combo{
	height: 			31px;
	width: 				19px;
}

#form_actions .form_actions{
	border:				0; 
	clear: 				none;
	float: 				left; 
	height:				auto;
	text-indent: 		0; 
	width: 				auto !important;
}

#form_actions .form_actions input{
	margin:				0px 5px; 			
}

#form_actions input#datas{
	color:					#666;
	font-weight:			600;
	font-size:				16px;
	text-indent: 			30px;
	padding-right: 			20px;
	text-align: 			left;
	letter-spacing: 		-0.5px;
	position: 				relative;
	width: 					250px;
}
/*PERIODO*/
#periodo [class*='_input']{
	height: 34px !important;
}
#periodo [class*='_trigger']{
	margin-left: -20px;
    padding: 9px 8px 5px;
    top: 1px;
}


/** BOTOES **/
input.pesquisar  			{ background-image: url(../images/magnifier.png); color: #0F69AD; }
input.add		  			{ background-image: url(../images/add.png); color: #0F69AD; }
input.btn_view				{ background-image: url('../images/view.png'); }

/** INFORMAÇÕES **/
#painel > div:not(.tab_navigator){
	float: 					left;
	margin:					8px 0 0 8px; 
}
.tab_selector li span {
	margin-top: 7px;
}
div h2{
	color:					#555;
	font-size: 				20px;
	text-indent: 			0;
}

div h2 .link{
	font-size: 				12px !important;
}

div.numeros_wrapper{
	display: block;
	width: 98.4%;
	padding: 10px 0;
	clear: both;
	float: left;
}
div.numero{
	float:					left;
	display:	 			block;
	min-width:				150px;
	border-left:			1px solid #DDD;
	padding:				0 15px;
	text-align: 			left !important;
}
div.numero:first-child{
	border: 0;
}
	div.numero h5{
		display: 			block;
		padding: 			0;
		text-transform: 	uppercase;
		color: 				#999;
		font-size: 			10px;
		font-weight: 		300;
		text-align: 		left;
		text-indent: 		0;
		margin-bottom: 		8px;
	}
	div.numero span{
		color: 				#333;
		font-size: 			30px;
		text-align: 		left;
	}
	div.numero small{
		position: 			relative;
		top: 				-13px;
		display: 			inline;
	}

div.box{
	background-color: 		#F1F1F1;
	border: 				1px solid #DDD;
	padding: 				0 !important;
}
	div.box h5{
		display: 			block;
		padding: 			10px 10px 0;
		text-transform: 	uppercase;
		color: 				#333;
		font-size: 			11px;
		font-weight: 		300;
		text-align: 		left;
		text-indent: 		0;
	}

div.datatable{
	height: 				100%; 
	width: 					100%;
}



/****** Cores Tabelas */
table{
	position: relative;
	width: 100%;
	border-color: transparent;
}
	table td{
		padding: 5px;
	}
.thead{
	width: 100%;
	position: relative;
	border-bottom: 1px dotted #AAA;
}
	.thead td{
		text-transform: uppercase;
		font-size: 11px;
		text-align: center;
	}
.tbody{
	position: relative;
	height: 172px;
	width: 100%;
	overflow: auto;
}
	.tbody tr:nth-child(2n-1) td				{ background-color: #F1F1F1; }
	.tbody tr:hover td							{ background-color: #DDD; }
	
	.cinza .tbody tr:nth-child(2n-1) td			{ background-color: #E5E5E5; }
	.cinza .tbody tr:hover td					{ background-color: #DDD; }
	
	.verde .tbody tr:nth-child(2n-1) td			{ background-color: #d9f2d5; }
	.verde .tbody tr:hover td					{ background-color: #cbf2c4; }
	
	.vermelha .tbody tr:nth-child(2n-1) td		{ background-color: #f7dcdc; }
	.vermelha .tbody tr:hover td				{ background-color: #fcd1d1; }



/****** Cores para utilização na dashboard*/
.color div.color_red:nth-child(2n) 			{ background-color: #FFE4E2; }
.color div.color_red 						{ background-color: #F7E9E8; }
.color div.over.color_red:nth-child(2n) , 
.color div.color_red:hover 					{ background-color: #FFDDDB; }

.color div.color_yellow:nth-child(2n) 		{ background-color: #FFFECC; }
.color div.color_yellow 					{ background-color: #F7F59E; }
.color div.color_yellow_red:nth-child(2n) , 
.color div.color_yellow:hover 				{ background-color: #FCFA7B; }

.color div.color_green:nth-child(2n) 		{ background-color: #F3FFF2; }
.color div.color_green 						{ background-color: #E5FCE3; }
.color div.color_green_red:nth-child(2n) , 
.color div.color_green:hover 				{ background-color: #D9F1D7; }
