/**
* CSS menu ERP
*/
html,body{
	height:auto !important;
	overflow-y: 	auto !important;
	overflow-x: 	hidden !important;
}
#menu_wrapper_closer{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 14;
}
#menu_wrapper{
	background: #333 url('../images/mocha/logo.png') left 5px no-repeat;
	border-right: 0;
	float:left;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 60px;
	z-index: 15;
}
	#menu_wrapper.expandido{
		box-shadow: -3px -1px 10px #111111;
		width: 255px;
		border: 0px;
		z-index: 10005;
	}
	#menu {
		margin-top: 60px;
		overflow: none;
		position: relative;
		width: 255px;
	}
	
	#menu li a{
		background-color: rgba(255,255,255, 0.06); 
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		clear: both;
		display: block;
		float: left;
		text-align: left;
		width: 100%;
	}
	
	#menu li a.mais_usado 		{
		background-color: rgba(255,255,255,0.05);
		border-bottom: 1px solid rgba(56, 125, 45, 0.05);
	}
	#menu li.mais_usado:nth-child(8) a.mais_usado	{ 
		
	}
	#menu li a.divider_top 		{ border-top: 1px solid rgba(0,0,0, 0) !important; }
	#menu li a.divider_bottom	{ 
		background-color: rgba(255,255,255,0.05);
		border-bottom: 1px solid rgba(13, 71, 50, 0.05);
	}
	#menu li a.sair				{ border-bottom-width: 0px !important; }
	
	#menu li a:hover{
		background-color: #096982;
		color: #FFF;
	}
	
	#menu a > span{
		display: block;
		position:relative;
		float: left;
		padding: 8px 0px 4px;
	}
	#menu a span.label{
		display: block;
		color: #DDD;
		font-size: 13px;
		float: left;
		padding: 5px 3px;
		width: 180px;
	}
	#menu a:hover span.label{
		color: #FFF;
	}
	#menu a span.shortcut{
		display: none;
	}
	
	#menu .menu_icon{
		color: #FFF;
		float: left;
		display: inline-block;
		height: 28px;
		line-height: 24px;
		font-size: 20px;
		width: 60px;
		display: inline;
		margin: 2px 0 2px 0;
		opacity: 0.8;
		text-align: center;
	}
	#menu li:hover .menu_icon{
		opacity: 1;
		text-shadow:0 0 15px rgba(255,255,255,0.8), 0 1px 1px rgba(0,0,0,0.5); 
	}
	
	#menu li a#menu_modal_trigger{
		background: #E27125 url('../images/forward.png') no-repeat 227px center;
		border-bottom: 3px solid #CC631E;
		border-top: 1px solid #ED973F;
		font-weight: bold;
	}
	#menu li a#menu_modal_trigger span{
		font-size: 14px;
	}
	#menu li a#menu_modal_trigger:hover{
		background-color: #FF8132;
		border-top-color: #ED973F;
	}
	
	
	
	/* SUBMENU
	***********************/
	#menu_sub_wrapper{
		background-color: #0A879F;
		box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.3); 
		position: absolute;
		font-size: 13px;
		top: 0;
		bottom: 0;
		left: 60px;
		overflow: hidden;
		height: 100%;
		width: 300px;
		visibility: hidden;
	}
		#menu_sub_wrapper.visible{
			visibility: visible;
			left: 360px;
			transition: visibility 0s, left 0.3s;
		    -moz-transition: visibility 0s, left 0.3s;
		    -webkit-transition: visibility 0s, left 0.3s;
		    opacity: 1; 
			z-index: 10006;
		}
		#menu_sub_wrapper.hidden{
			left: 60px;
			transition: left 0.3s, visibility 0.5s;
		    -moz-transition: left 0.3s, visibility 0.5s;
		    -webkit-transition: left 0.3s, visibility 0.5s;
			visibility: hidden;
		}
		
		#menu_sub_modal_scroll{
			padding: 7px 10px;
			overflow: auto;
			height: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		#menu_sub_wrapper *{
			color: #FFF;
		}
			#menu_sub_modal_scroll > a{
				background-color: rgba(0,0,0,0.1);
				display: inline-block;
				padding: 9px 10px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				width: 100%;
			}
			#menu_sub_modal_scroll > a *{
				color: rgba(255,255,255,0.7);
			}
			#menu_sub_modal_scroll > a:hover{
				background-color: rgba(255,255,255,0.1);
			}
			#menu_sub_modal_scroll > a:hover *{
				color: #FFF;
			}
			#menu_sub_modal_scroll > a span{
				position: relative;
				margin-left: 10px;
				top: -2px;
			}
			
		#menu_sub h4{
			padding: 10px;
			font-size: 12px;
			text-transform: uppercase;
			color: rgba(255,255,255,0.7);
			font-weight: normal;
		}
		#menu_sub{
			height: auto;
		}
		
	
	/** MODAL **/
	#menu_modal_bg{
		background-color: transparent;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 10006;
	}
	#menu_modal_topo_bg{
		background-color: transparent;
		top:30px;
		left: 60px;
		bottom: 32px;
		right: 0;
		position: absolute;
		z-index: 10004;
	}
	#menu_modal_wrapper{
		position: absolute;
		display: block;
		width: 300px;
		height: 100%;
		overflow: hidden;
		left: 60px;
		top: 0px;
		z-index: 10007;
		background-color: #FFF;
		box-shadow: 1px -1px 5px #888;
	}
	#menu_modal_triangle{
		width: 0px;
		height: 0px;
		border: 10px solid transparent;
		border-right-color: #FFF;
		position: absolute;
		top: 20px;
		left: 41px;
		z-index: 10008;
	}
	#menu_modal_scroll{
		display: block;
		height: calc(100% - 48px);
		margin: auto 0px;
		margin-right: 1px;
		width: 290px;
		overflow-y: auto;
		background-color: transparent;
		float: right;
	}
	
	
	#menu_modal{
		width: 100%;
		padding: 0px;
		margin: 0px;
		margin-bottom: 25px;
		float: left;
		position: relative;
	}
		#menu_modal ul,
		#menu_sub ul{
			margin: 0px;
			padding: 0px;
			width: 100%;
		}
		#menu_modal li,
		#menu_sub li{
			list-style: none;
		}
		
		#menu_modal li.divider {
			margin-top: 2px;
			padding-top: 3px;	
		}
		
		#menu_modal li.categoria{
			width: 100%;
			display: block;
		}
		#menu_modal li.item,
		#menu_sub li.item{
			width: 100%;
			height: 38px;
			position: relative;
		}
		
			#menu_modal li.item > a,
			#menu_sub li.item > a{
				border-bottom: 1px solid #F1F1F1;
				border-radius: 1px;
				color: #333;
				display: block;
				height: 100%;
				font-size: 13px;
				margin-right: 10px
			}
			#menu_sub li.item > a{
				border-color: rgba(0,0,0,0.1);
				margin: 0;
			}
				#menu_modal li.item:last-child a,
				#menu_sub li.item:last-child a{
					border-bottom: 0;
				}
			#menu_modal li.item > a:hover{
				background-color: #FFE9DB;
			}
			#menu_sub li.item > a:hover{
				background-color: rgba(255,255,255,0.1);
			}
			#menu_modal li.item > a.selected{
				background-color: #E27125;
				color: #FFF;
			}
			#menu_sub li.item > a.selected{
				background-color: rgba(255,255,255,0.3);
			}
				#menu_modal li.item > a.selected + em{
					color: #FFF;
				}
				#menu_modal li.item > a > span,
				#menu_sub li.item > a > span{
					display: block;
					text-align: left;
					padding-top: 7px;
					padding-left: 8px;
				}
				#menu_modal li.item > a img{
					width: 24px;
					height: 24px;
					float: left;
				}
				#menu_modal li.item > a i,
				#menu_sub li.item > a i{
					float: left;
					font-size: 18px;
    				line-height: 22px;
					position: relative;
				}
				#menu_modal li.item > a span.label,
				#menu_sub li.item > a span.label{
					display: inline-block;
					padding: 3px 0px 0px 10px;
					cursor: pointer;
					text-decoration: none;
					font-style: normal;
				}
				#menu_modal li.item > a span.label .shortcut{
					display: none;
				}
				
				#menu_modal li.item > a[item_group]{
				}
				#menu_modal li.item em.submenu_link{
				 	bottom: 0;
				    position: absolute;
				    right: 10px;
				    top: 0;
				    border-left: 1px dotted rgba(0,0,0,0.1);
				    cursor: pointer;
				}
					#menu_modal li.item em.submenu_link:hover{
						background-color: #E27125;
						color: #FFF;
					}
					#menu_modal li.item em.submenu_link i{
						padding: 11px 5px;
						display: inline-block;
					}
				
			
		#menu_modal a.returnFalse{
			color: #E27125;
			cursor: default;
			display: block;
			padding: 15px 0px 4px;
			text-indent: 1px;
			font-size: 12px;
			text-transform: uppercase;
			border-bottom: 1px solid #E27125;
			margin-right: 10px;
		}
	
	
	#filtro{
		width: 100%;
		display: block;
		text-align: center;
		height: 48px;
		position: relative;
	}
	
	#filtro input{
		background-color: #FFF;
	    border: 1px solid #096982;
	    color: #096982;
	    border-radius: 1px;
	    font-size: 14px;
	    font-weight: 300;
	    line-height: 18px;
	    margin: 2% 0 0 -1px;
	    padding: 9px 15px 8px;
	    text-align: left;
	    text-indent: 25px;
	    width: 83%;
	}
	#filtro:before{
		background: url("../images/filtro_16.png") no-repeat scroll center center #096982;
	    content: "";
	    display: block;
	    height: 36px;
	    left: 9px;
	    position: absolute;
	    margin-top: 2%;
	    width: 30px;
	    z-index: 1;
	}
	#filtro input.vazio{
		color: #DDD;
	}


	
/* Menu Topo 
***********************/
.top_menu{
	background-color: #FFF;
	border: 1px solid #D3D3D3;
	border-width: 0 1px 1px 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #555;
	z-index: 10006;
	box-shadow: 0 1px 0 rgba(50,50,50,0.1);
	margin-left: 1px; 
}
	.top_menu a{
		color: #666;
		font-size: 12px;
		display: block;
		padding: 0 5px;
	}
	.top_menu a:hover:not(.returnFalse) *:not(.shortcut){
		color: #E27125;
	}
	.top_menu a.returnFalse{
		cursor: default;
		font-size: 11px;
		margin-top: 10px;
		padding: 3px 2px 2px !important;
		text-transform: uppercase;
	}
	.top_menu a.divide{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
		.top_menu a .shortcut{
			color: rgba(255,255,255,0.2);
			float: right;
		}
		.top_menu a img {
			width: 16px;
			height: 16px;
			border: 0px;
			margin-bottom: -3px;
    		margin-right: 3px;
		}
		.top_menu a i {
    		display: inline-block;
		    font-size: 14px;
		    float: left;
		    line-height: 16px;
		    margin-right: 5px;
		    text-align: center;
		    width: 15px;
		}
		
		.top_menu a .label {
			margin-left: 3px;
			color: #666;
			font-size: 12px;
		}

/* Menu Topo do Sistema
*************************/
#top_menu_modal_bg{
	background-color: transparent;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10005;
	display: none;
}
#top_menu_modal{
	background-color: #333;
	border: 0;
	position: absolute;
	top: 31px;
	right: 0px;
	width: 850px;
	display: block;
	padding-bottom: 10px;
	display: none;
}
	#top_menu_modal ul{
		margin: 0; 
		position: relative;
	}
	#top_menu_modal li.categoria{
		float: left;
		width: 200px;
		margin-left: 10px;
	}
	#top_menu_modal li.categoria:nth-child(3n+1){
		clear: left;
	}
	#top_menu_modal li{
		list-style: none;
	}
	#top_menu_modal li > ul{
		margin: 0;
		padding: 0;
	}
	#top_menu_modal li i{
		/*display: none;*/
		font-size: 12px;
		color: #FFF;
		margin-right: 4px;
	}
	#top_menu_modal a {
		padding: 2px;
	}
		#top_menu_modal a .label {
			color: #FFF;
			font-size: 11px;
		}
		#top_menu_modal a.returnFalse .label {
			color: rgba(255,255,255,0.7);
		}
	#top_menu_modal a:hover:not(.returnFalse){
		background-color: rgba(255,255,255,0.1);
	}
	#top_menu_modal a:hover i{
		text-shadow: 0 0 10px rgba(255,255,255,0.8), 0 1px 1px rgba(0,0,0,0.5);
	}
	
	#top_menu_modal em{
		display: none;
	}
	
/* Menu Suporte 
***********************/
#top_menu_suporte{
	position: absolute;
	top: 31px;
	display: none;
}
	#top_menu_suporte a{
		font-size: 12px;
		padding: 10px 15px 10px 12px; 
		clear: both;
	}
	
/* Menu Usuário 
***********************/
#top_menu_usuario{
	position: absolute;
	top: 31px;
	min-width: 	150px;
	display: none;
	right: -1px; 
}
	#top_menu_usuario a{
		font-size: 12px;
		padding: 10px 15px 10px 12px; 
		clear: both;
	}
	
/* Menu Usuário 
***********************/
#top_menu_agenda{
	position: absolute;
	top: 31px;
	min-width: 150px;
	display: none;
}
	#top_menu_agenda a{
		font-size: 12px;
		padding: 10px 15px 10px 12px; 
		clear: both;
	}
	
	
/* Menu de Alertas e Avisos 
 ******************************/
#top_menu_alertas{
	background-color: #FFF;
	position: absolute;
	top: 31px;
	min-width: 	350px;
	max-width: 	400px;
	display: block;
	right: 0;
	z-index: 10007;
 }
#top_menu_alertas.empty{
	display: 		none;
	text-align: 	center;
}
		
#top_menu_alertas.hidden{
	display: 		none;
}
	#top_menu_alertas .wrapper{
		float: 			left;
		clear: 			both;
		max-height:		300px;
		overflow:		auto;
		width: 			100%;
		box-sizing:		border-box;
		-moz-box-sizing: border-box;
	}
	#top_menu_alertas.empty .wrapper{
		display: 		none;
	}
	#top_menu_alertas .wrapper > span{
		border-bottom: 1px dotted #DDD; 
		clear: 		both;
		display: 	table;
		float: 		left;
	    font-size: 	13px;
		width: 		100%;
		position: 	relative;
		box-sizing:		border-box;
		-moz-box-sizing: border-box;
	}
	#top_menu_alertas .wrapper > span.alerta{
		border-bottom: 1px dotted #DFD8B1; 
	}
	#top_menu_alertas .wrapper > span.alerta *{
	    color: 		#896D59;
	}
	#top_menu_alertas .wrapper  > span:last-child{
		border-bottom: 0; 
	}
	#top_menu_alertas.empty > span *{
		color: 		#999;
	}
		#top_menu_alertas .wrapper > span.alerta{
			background-color: #FFF8D1;
		}
		#top_menu_alertas .wrapper > span a{
			box-sizing: 	border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			display: 		table-cell;
		    padding: 		13px;
			width: 			90%;
			min-height: 	40px;
		}
		#top_menu_alertas .wrapper > span a:hover{
		 	background-color: #FFF;
		}
		#top_menu_alertas .wrapper > span.alerta a:hover{
			background-color: #FFFFFF;
		}
		#top_menu_alertas.empty > span,
		#top_menu_alertas.empty > span a,
		#top_menu_alertas.empty > span a:hover,
		#top_menu_alertas.empty > span:hover{
		 	background-color: #FFF;
		}
			#top_menu_alertas .wrapper > span a i{
    			font-size: 26px;
    			line-height: 110%;
    			width: auto;
			}
		#top_menu_alertas .wrapper > span i{
			margin-right: 		15px;
			float: 				left;
		}
		#top_menu_alertas .wrapper > span span span{
			float: left;
			clear: right;
			display: inline-block;
		    width: 80%;
		}
		#top_menu_alertas .wrapper > span .close{
			cursor:			pointer;
			display:		table-cell; 
			padding: 		15px;
			text-align: 	center;
			z-index: 		10;
			vertical-align: middle;
		}
		#top_menu_alertas .wrapper > span.aviso_msg .close {
			background-color: 	#FFFFE1;
		}
		#top_menu_alertas .wrapper > span:hover .close{
		}
		#top_menu_alertas .wrapper > span .close:hover{
			background-color: #FFF;
		}
		#top_menu_alertas .wrapper > span .close i{
			font-size: 		14px;
			margin: 		0;
		}
		#top_menu_alertas.empty .close{
			display: 		none;
		}
		
		#top_menu_alertas > span.empty{
			display: 		none !important;
		}
		#top_menu_alertas.empty > span.empty{
			display: 		block !important;
		}
			#top_menu_alertas.empty > span.empty a{
				text-align: 	center !important;
				padding:		13px; 
			}
			#top_menu_alertas.empty > span.empty a b{
				color: 				#4977BC;
				font-size: 			11px;
				font-weight:		normal;
				display: 			block;
				margin-top: 		5px;
				text-transform: 	uppercase;
			}
			
		/** Avisos e Mensagens
		**************************/
		#top_menu_alertas > span.link{
			border:				0;
			border-top: 		1px solid #DDD;
			line-height: 		14px;
			text-align: 		center;
			float: 				left;
			width: 				100%;
		}
		#top_menu_alertas.empty > span.link{
			display: 			none;
		}
		#top_menu_alertas > span.link a{
			color: 				#4977BC;
			text-transform: 	uppercase;
			font-size: 			11px;
			padding:			13px; 
		}
		#top_menu_alertas .wrapper > span.alerta_msg + span.aviso_msg{
			border-top:		 	1px solid #DFD8B1;
			margin-top: 		-1px;
		}
		#top_menu_alertas .wrapper > span.aviso_msg a{
			background-color: 	#FFFFE1;
		}
		#top_menu_alertas .wrapper > span.aviso_msg a i{
   			font-size: 			18px;
   			width: 				28px;
		}

