#SexyAlertBox-Box {
}

#SexyAlertBox-InBox {
	background-color: #FFF;
	border-radius: 1px;
	margin: 0px auto;
	margin-top: 15%;
	position: static;
	width: 500px;
	padding: 0px;
}

#SexyAlertBox-BoxContent {
	padding: 24px 0 0;
	position: relative;
}

#SexyAlertBox-BoxContenedor {
	margin: 0px 20px;
	padding: 0px 0px 40px 65px;
	text-align: left;
	font-size:14px;
	color:#333;
	min-height: 50px;
	word-wrap: break-word;
}

#SexyAlertBox-BoxContenedor h1,
#SexyAlertBox-BoxContenedor h2,
#SexyAlertBox-BoxContenedor h3,
#SexyAlertBox-BoxContenedor h4,
#SexyAlertBox-BoxContenedor h5,
#SexyAlertBox-BoxContenedor b,
#SexyAlertBox-BoxContenedor strong{
  text-align: left;
  font-size:13px;
  color:#000;
  font-weight: bold;
  margin:0px;
  padding:0px;
  text-indent: 0px;
}

#SexyAlertBox-BoxContenedor h5{
	font-size:16px;
}

#SexyAlertBox-Buttons{
  text-align:right;
  background-color: #F1F1F1;
  border-top: 1px solid #E5E5E5;
  padding: 0px;
  border-radius: 0px 0px 1px 1px;
  position: absolute;
  width: 100%;
  bottom: -30px;
  left: 0px;
}

	#SexyAlertBox-Buttons input {
	  	background-color: #FFF; 
		background-position: 12px center;
		background-repeat: no-repeat;
		border: 1px solid #ddd;
		border-radius: 1px;
		cursor: pointer;
		font-size: 12px;
		font-weight: 300;
		height: 33px !important;
		margin: 7px 10px 7px 0px;
		padding: 0px 15px;
		min-width: 70px;
	}
	#SexyAlertBox-Buttons input::-moz-focus-inner {
	  border: 0px;
	}
	
	#SexyAlertBox-Buttons input:focus,
	#SexyAlertBox-Buttons input:hover{
		box-shadow: 0px 1px 3px #d7d7d7;
		border: 1px solid #C7C7C7;
		text-shadow: 0px 1px 0px #BBB;
	}

#SexyAlertBox-BoxContenedor #BoxPromptInput{
  margin-top:10px;
}
#SexyAlertBox-Box .BoxAlert {
  background: url('../images/dialog-warning.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxConfirm {
  background: url('../images/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxPrompt {
  background: url('../images/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxInfo {
  background: url('../images/dialog-information.png') top left no-repeat;
  word-wrap:break-word;
}

#SexyAlertBox-Box .BoxError {
  background: url('../images/dialog-error.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxUpdate {
  background: url('../images/update.png') top left no-repeat;
  font-size: 14px;
  padding: 13px 0 20px 67px;
  color: #166EA1;
}
	#SexyAlertBox-Box .BoxUpdate > *{
		  font-size: 14px;
		  color: #166EA1;
	}

#SexyAlertBox-BoxContenedor .alert {
	background-color: #FFFF9E;
	padding: 10px;
	margin-top: 15px;
	color: #363626;
}
	#SexyAlertBox-BoxContenedor .alert strong {
		text-transform: uppercase;
	}
	
	#SexyAlertBox-BoxContenedor ul,
	#SexyAlertBox-BoxContenedor ol{
		margin: 		0;
		padding: 		0;
	}
	#SexyAlertBox-BoxContenedor li{
		list-style-position: inside; 	
	}
	
	.inputPrompt.radio{
		background-color: #F5F5F5;
		padding: 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.inputPrompt span.radio{
		display: block;
		margin-left: 20px;
		padding: 5px 0;
	}
	.inputPrompt span.radio label{
		font-weight: bold;
	}
	.inputPrompt span.radio input{
		margin-left: -20px;
	}
	.inputPrompt span.radio input[type="radio"] + span:before{
		left: -20px;
	}