@CHARSET "UTF-8";
 
/****************************** 
 * Menu 
 *******************************/
#menu_sub_wrapper{
	background-color: #4977BC;
}
#menu_wrapper{
	background: #16a085   url(../../../images/logo_menu.png) 0px 5px no-repeat;
}
#menu li a{
	background-color: rgba(255,255,255,0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#menu li a:hover{
	background-color: #148e76 !important;
}

#menu_modal li.item a:hover{
	background-color: #E8EEF7;
}
#menu_modal li.item a.selected,
#menu_modal li.item em.submenu_link:hover{
	background-color: #487DCE;
}
#menu_modal a.returnFalse{
	color: #487DCE;
	border-color: #487DCE;
}
#menu a span.label{
	color: #FFF;
}

#menu_modal_wrapper{
}
#menu_modal_triangle{
}

#menu li a#menu_modal_trigger{
	background-color: #e74c3c !important;
	border-top-color: #D24D57 !important;
	border-bottom-color: #EF4836 !important;
}
#menu li a#menu_modal_trigger:hover{
	background-color: #F22613;
	border-bottom-color: #EF4836 !important;
	border-top-color: #D24D57 !important;
	
	
}

	#filtro input{
	    border-color: #487DCE;
	    color: #487DCE;
	}
	#filtro:before{
		background-color: #487DCE; 
	}
#top_menu_modal{
	background-color: #16a085 ;
}
	.top_menu a:hover:not(.returnFalse) *:not(.shortcut){
		color: #487DCE;
	}
	

/****************************** 
 * Loader 
 *******************************/
  #loader .loader-text span{
  	color: #4977BC;
  	background-image: url(../../../images/spinner.gif);
  	padding-left: 30px;
  	background-position: 0 -2px;
  }
  
/****************************** 
 * Listagens 
 *******************************/
 .omnigrid .elementloader{
	background-image: url(../../../images/loader.gif) !important;
}
 
/****************************** 
 * Painel principal 
 *******************************/
.dragbox h2{
	color:#0B819F;
}

/****************************** 
 * ToolTips 
 ******************************/
 .bt-wrapper b {
 	color: #31659E;
 }
 .bt-wrapper i {
 	color: #4D5F89;
 }
 
/****************************** 
 * Abas em Formulários 
 *******************************/
.tab_selector li.tab_sel_ativa{
	border-top-color: #16a085 !important;
}
.tab_box .tab_selector span{
 	color: #3C69AD !important;
}

/****************************** 
 * Campos de Formulários 
 *******************************/
.form input:focus, 
.form select:focus,				
.form textarea:focus							{ border-color: #4083E8; box-shadow: 0px 0px 3px #4083E8; }

.multisuggest_item{
	background-color: #D4E3F7 !important;
}
.multisuggest_item:hover{
	background-color: #F7E1E1 !important;
}
.multisuggest_item:hover:after{
	background-image: url(../../../images/jqueryui/ui-icons_cd0a0a_256x240.png);
}


/****************************** 
 * Títulos em Formulários 
 *******************************/
 #titulo{
 	color:			#3C69AD;
 }
 
/****************************** 
 * DatePicker 
 *******************************/
 table.jCalendar th{
 	color:			#3C69AD !important;
 }
 table.jCalendar td.dp-hover:not(.disabled){
	background-color:	#92B4E8 !important;
	color:				#FFF !important;
 }
 table.jCalendar td.selected:not(.disabled){
	background-color:	#3C69AD !important;
	color:				#FFF !important;
 }
 table.jCalendar td.today:not(.disabled){
	color:				#3C69AD !important;
 }
 table.jCalendar td.today.dp-hover:not(.disabled),
 table.jCalendar td.today.selected:not(.disabled)
 {
 	color: 				#FFF !important;
 	background-color: 	#3C69AD !important;
 }
 .calendarRange_itens span.selected{
 	background-color: 	#3C69AD !important;
 }
 .calendarRange_filtro .input input.visible{
 	border-color: #4083E8 !important; 
 	box-shadow: 0px 0px 3px #4083E8 !important;
 }
 .calendarRange_actions input.calendarRange_apply.button{
 	background-color: 	#3C69AD !important;
 	border-color: 		#2c599d !important;
 	color: 				#FFF !important; 
 }
 
/****************************** 
 * Ancoras 
 *******************************/
.ancora_title{
	color: 				#4977BC;
}
#ancora .caixa{
	background-color: 	#0D92A8;
}
#ancora .caixa:hover{
	background-color: 	#16a085 !important;
}
 
 
/****************************** 
 * Tela Boas Vindas (WELCOME) 
 *******************************/
#welcome_logo{
	background: 	transparent url("../../../images/logo_erp.png") no-repeat 25px 15px !important;
	width: 			400px;
	margin: 		0 auto;
}

#logo_erp{display:none; !important;}

#nuvem_tagplus{
	background: transparent url("../../../images/nuvem_tagplus.png") no-repeat !important;
	width: 20%;
	height: 53px;
	display: block;
	position: absolute;
	margin-left: 26%;
	margin-top: 477px;
}

#welcome_cabecalho  h1,
#welcome_cabecalho  h2,
#comecar_usar,
#welcome_tutorial a
.welcome_empresa_cadastro,
.welcome_empresa_cadastro i,
.continuar,
.texto_cor_logo_2,{
	color: 			#3b87b0 !important;
}

#welcome_conteudo {
	background: 	transparent url("../../../images/bg_welcome.png") no-repeat center !important ;
}

#welcome_fundo{
	background-color: #E7F3FD;
}

.texto_cor_logo_1{
	font-weight: bold;
}

.retangulo{
	background-color: #F0F7FE !important;
}

div.retangulo,
#welcome_comandos{
	box-shadow: 0px 2px 0px #DDECF8;
}

nav#navegacao li{
	background-color: 		#94C5E0 !important;
}

/****************************** 
 * Infos Suporte 
 *******************************/
fieldset.sys-info,
fieldset.sys-info *:not(.light){
	color: #2b4f86 !important;
}
fieldset.sys-info:before {
	background: #2b4f86 url(../../../images/logo_menu.png) left 22px no-repeat !important;
}
 